h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
.social {
  a {
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: 150%;
    opacity: 0.8;
    padding: 0.5rem;
    width: 52px;
    .fa-envelope {
      color: #000;
    }
    .fa-twitter {
      color: #4c9fec;
    }
    .fa-instagram {
      color: #ed4a55;
    }
    .fa-medium {
      color: #4ba57f;
    }
    .fa-keybase {
      color: #ee783a;
    }
    .fa-github {
      color: #000;
    }
    &:hover {
      opacity: 1;
    }
  }
}
article {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}
section {
  max-width: 600px;
  text-align: left;
}
p {
  margin: 0 0 1rem;
}
ul {
  @apply my-5 pl-5;
}
li {
  @apply list-disc pl-3;
  color: #4c9fec;
  margin-top: 1rem;
  margin-bottom: 1rem;
  span {
    color: #444;
  }
}

@media (prefers-color-scheme: dark) {
  li {
    span {
      color: #c9d1d9;
    }
  }

  .social {
    a {
      .fa-envelope {
        color: #fff;
      }
      .fa-twitter {
        color: #4c9fec;
      }
      .fa-instagram {
        color: #ed4a55;
      }
      .fa-medium {
        color: #4ba57f;
      }
      .fa-keybase {
        color: #ee783a;
      }
      .fa-github {
        color: #fff;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
