h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
.social {
  a {
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: 150%;
    opacity: .8;
    padding: .5rem;
    width: 52px;
    .fa-twitter {
      color: #4C9FEC;
    }
    .fa-instagram {
      color: #ED4A55;
    }
    .fa-medium {
      color: #4BA57F;
    }
    .fa-keybase {
      color: #EE783A;
    }
    &:hover {
      opacity: 1;
    }
  }
}
article {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}
section {
  max-width: 600px;
  text-align: left;
}
p {
  margin: 0 0 1rem;
}
ul {
  margin: 2rem 0;
}
li {
  color: #9ACD48;
  margin-top: 1rem;
  margin-bottom: 1rem;
  span {
    color: #ccc;
  }
}
