a {
  border-bottom: 1px solid #dcdcdc;
  color: #cb4700;
  display: inline-block;
  margin-bottom: -1px;
  text-decoration: none;
  transition: all 0.1s;
  &:hover {
    border-color: #cb4700;
  }
}
