a {
  border-bottom: 1px solid transparent;
  color: #ee783a;
  display: inline-block;
  margin-bottom: -1px;
  text-decoration: none;
  transition: all 0.1s;
  &:hover {
    border-color: #ee783a;
  }
}
